In [1]:
import pandas as pd

## CSV Dosyasını Okuma ve Temel Analizi

####  • CSV dosyasını pandas ile okuyun ve içeriğini ekrana yazdırın.

In [2]:
df = pd.read_csv("data.csv")

#### • İlk 5 satırı ve son 5 satırı görüntüleyin.

In [3]:
df.head()

,TransactionID,Date,Product,Category,Price,Quantity,TotalPrice,Customer,Region
0,1001,2024-02-10,Laptop,Electronics,1200,1,NaN,Alice,North
1,1002,2024-02-11,Smartphone,Electronics,800,2,NaN,Bob,South
2,1003,2024-02-12,Tablet,Electronics,500,1,NaN,Charlie,West
3,1004,2024-02-13,Headphones,Accessories,100,3,NaN,Dave,East
4,1005,NaN,Monitor,Electronics,300,2,NaN,Eve,North

In [4]:
df.tail()

,TransactionID,Date,Product,Category,Price,Quantity,TotalPrice,Customer,Region
15,1016,NaN,Webcam,Accessories,140,2,NaN,Paul,East
16,1017,2024-02-26,Laptop,Electronics,1250,1,NaN,Quinn,North
17,1018,2024-02-27,Smartphone,Electronics,820,2,NaN,NaN,South
18,1019,NaN,Tablet,Electronics,510,1,NaN,Steve,West
19,1020,2024-02-29,Headphones,Accessories,110,3,NaN,Tom,East

#### • Veri çerçevesinin boyutunu (satır ve sütun sayısını) öğrenin.

In [5]:
df.shape

(20, 9)

#### • Sütunlardaki eksik verileri kontrol edin.

In [6]:
df.isnull().sum()

TransactionID     0
Date              4
Product           0
Category          0
Price             0
Quantity          0
TotalPrice       20
Customer          3
Region            0
dtype: int64

#### • Veri türlerini (dtype) inceleyin.

In [7]:
df.dtypes

TransactionID      int64
Date              object
Product           object
Category          object
Price              int64
Quantity           int64
TotalPrice       float64
Customer          object
Region            object
dtype: object

## Eksik Verileri Düzeltme

#### • TotalPrice sütunu eksik değerler içeriyor. Bu sütunu Price * Quantity olarak hesaplayıp güncelleyin.

In [8]:
df["TotalPrice"] = df["TotalPrice"].fillna(df["Price"] * df["Quantity"])

#### • Date sütunundaki eksik verileri önce üst sonra alt satırları baz alarak dolduracak method ile doldurunuz.

In [9]:
df["Date"] = df["Date"].fillna(method='ffill') # Forward fill: üst satıra göre doldurma

In [10]:
df["Date"] = df["Date"].fillna(method='bfill') # Backward fill: alt satıra göre doldurma

In [11]:
df

,TransactionID,Date,Product,Category,Price,Quantity,TotalPrice,Customer,Region
0,1001,2024-02-10,Laptop,Electronics,1200,1,1200.0,Alice,North
1,1002,2024-02-11,Smartphone,Electronics,800,2,1600.0,Bob,South
2,1003,2024-02-12,Tablet,Electronics,500,1,500.0,Charlie,West
3,1004,2024-02-13,Headphones,Accessories,100,3,300.0,Dave,East
4,1005,2024-02-13,Monitor,Electronics,300,2,600.0,Eve,North
5,1006,2024-02-15,Mouse,Accessories,50,5,250.0,NaN,South
6,1007,2024-02-16,Keyboard,Accessories,80,4,320.0,Grace,West
7,1008,2024-02-17,Webcam,Accessories,150,2,300.0,Hank,East
8,1009,2024-02-18,Laptop,Electronics,1100,1,1100.0,Ivy,North
9,1010,2024-02-19,Smartphone,Electronics,750,2,1500.0,John,South
10,1011,2024-02-19,Tablet,Electronics,600,1,600.0,Kate,West
11,1012,2024-02-21,Headphones,Accessories,120,3,360.0,Leo,East
12,1013,2024-02-22,Monitor,Electronics,280,2,560.0,Mia,North
13,1014,2024-02-23,Mouse,Accessories,55,5,275.0,Nina,South
14,1015,2024-02-24,Keyboard,Accessories,85,4,340.0,NaN,West
15,1016,2024-02-24,Webcam,Accessories,140,2,280.0,Paul,East
16,1017,2024-02-26,Laptop,Electronics,1250,1,1250.0,Quinn,North
17,1018,2024-02-27,Smartphone,Electronics,820,2,1640.0,NaN,South
18,1019,2024-02-27,Tablet,Electronics,510,1,510.0,Steve,West
19,1020,2024-02-29,Headphones,Accessories,110,3,330.0,Tom,East

#### • Eksik veri olan diğer sütunlarda veri doldurma stratejinizi kendiniz belirleyerek eksikleri doldurunuz.

In [12]:
df.isnull().sum()

TransactionID    0
Date             0
Product          0
Category         0
Price            0
Quantity         0
TotalPrice       0
Customer         3
Region           0
dtype: int64

In [13]:
df['Customer'].value_counts()

Alice      1
Kate       1
Steve      1
Quinn      1
Paul       1
Nina       1
Mia        1
Leo        1
John       1
Bob        1
Ivy        1
Hank       1
Grace      1
Eve        1
Dave       1
Charlie    1
Tom        1
Name: Customer, dtype: int64

In [14]:
df["Region"].value_counts()

North    5
South    5
West     5
East     5
Name: Region, dtype: int64

In [15]:
import random

In [16]:
# Eksik verileri random doldurma
df["Customer"] = df["Customer"].apply(lambda x: random.choice(df['Customer'].unique()) if pd.isna(x) else x)
df

,TransactionID,Date,Product,Category,Price,Quantity,TotalPrice,Customer,Region
0,1001,2024-02-10,Laptop,Electronics,1200,1,1200.0,Alice,North
1,1002,2024-02-11,Smartphone,Electronics,800,2,1600.0,Bob,South
2,1003,2024-02-12,Tablet,Electronics,500,1,500.0,Charlie,West
3,1004,2024-02-13,Headphones,Accessories,100,3,300.0,Dave,East
4,1005,2024-02-13,Monitor,Electronics,300,2,600.0,Eve,North
5,1006,2024-02-15,Mouse,Accessories,50,5,250.0,Leo,South
6,1007,2024-02-16,Keyboard,Accessories,80,4,320.0,Grace,West
7,1008,2024-02-17,Webcam,Accessories,150,2,300.0,Hank,East
8,1009,2024-02-18,Laptop,Electronics,1100,1,1100.0,Ivy,North
9,1010,2024-02-19,Smartphone,Electronics,750,2,1500.0,John,South
10,1011,2024-02-19,Tablet,Electronics,600,1,600.0,Kate,West
11,1012,2024-02-21,Headphones,Accessories,120,3,360.0,Leo,East
12,1013,2024-02-22,Monitor,Electronics,280,2,560.0,Mia,North
13,1014,2024-02-23,Mouse,Accessories,55,5,275.0,Nina,South
14,1015,2024-02-24,Keyboard,Accessories,85,4,340.0,Ivy,West
15,1016,2024-02-24,Webcam,Accessories,140,2,280.0,Paul,East
16,1017,2024-02-26,Laptop,Electronics,1250,1,1250.0,Quinn,North
17,1018,2024-02-27,Smartphone,Electronics,820,2,1640.0,Bob,South
18,1019,2024-02-27,Tablet,Electronics,510,1,510.0,Steve,West
19,1020,2024-02-29,Headphones,Accessories,110,3,330.0,Tom,East

In [17]:
df['Customer'].value_counts()

Ivy        2
Leo        2
Bob        2
Kate       1
Steve      1
Quinn      1
Paul       1
Nina       1
Mia        1
Alice      1
John       1
Hank       1
Grace      1
Eve        1
Dave       1
Charlie    1
Tom        1
Name: Customer, dtype: int64

In [18]:
# En çok tekrar eden değerle doldurma / NaN değerleri Alice ile doldurur
# df['Customer'] = df['Customer'].fillna(df['Customer'].mode()[0])

#### • Date sütununu tarih formatına (datetime) çevirin.

In [19]:
df["Date"] = pd.to_datetime(df["Date"])

In [20]:
df.dtypes

TransactionID             int64
Date             datetime64[ns]
Product                  object
Category                 object
Price                     int64
Quantity                  int64
TotalPrice              float64
Customer                 object
Region                   object
dtype: object

## Veri Filtreleme ve Gruplama

####   • Kategori bazında toplam satışları (TotalPrice toplamı) hesaplayın.

In [26]:
df.groupby('Category')['TotalPrice'].sum()

Category
Accessories     2755.0
Electronics    11060.0
Name: TotalPrice, dtype: float64

#### • Bölgelere göre (Region) toplam satışları hesaplayın.

In [27]:
df.groupby('Region')['TotalPrice'].sum()

Region
East     1570.0
North    4710.0
South    5265.0
West     2270.0
Name: TotalPrice, dtype: float64

####  • En fazla satış yapan müşteriyi bulun.

In [28]:
df.groupby('Customer')['TotalPrice'].sum().idxmax()

'Bob'

#### • Fiyatı 500’den fazla olan ürünleri listeleyin.

In [29]:
df[df['Price'] > 500]

,TransactionID,Date,Product,Category,Price,Quantity,TotalPrice,Customer,Region
0,1001,2024-02-10,Laptop,Electronics,1200,1,1200.0,Alice,North
1,1002,2024-02-11,Smartphone,Electronics,800,2,1600.0,Bob,South
8,1009,2024-02-18,Laptop,Electronics,1100,1,1100.0,Ivy,North
9,1010,2024-02-19,Smartphone,Electronics,750,2,1500.0,John,South
10,1011,2024-02-19,Tablet,Electronics,600,1,600.0,Kate,West
16,1017,2024-02-26,Laptop,Electronics,1250,1,1250.0,Quinn,North
17,1018,2024-02-27,Smartphone,Electronics,820,2,1640.0,Bob,South
18,1019,2024-02-27,Tablet,Electronics,510,1,510.0,Steve,West

#### • Elektronik ürünlerin toplam satışını hesaplayın.

In [30]:
df[df['Category'] == 'Electronics']['TotalPrice'].sum()

11060.0

## Format Değiştirme

####  • Veriyi JSON formatına çevirip kaydedin (sales_data.json).

In [31]:
df.to_json('sales_data.json')

#### • Veriyi Excel (.xlsx) formatına çevirip kaydedin (sales_data.xlsx)

In [34]:
! pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.3-py2.py3-none-any.whl (251 kB)
     -------------------------------------- 251.3/251.3 kB 1.2 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.3

In [35]:
df.to_excel('sales_data.xlsx')