### Ödev

Boston housting dataseti ML'e hazır hale getir.

Pandas ile görüntüle, analiz et
Eksik verileri doldur

Analiz ve veri doldurma işlemlerinden sonra csv olarak kaydet. 
https://www.kaggle.com/datasets/altavish/boston-housing-dataset

verilerde görüntülemek istediğiniz 2 senaryo seçip 2 adet grafik oluşturunuz. (age ile fiyat eğrisi)

### Opsiyonel

pandas yerine veri doldurma için scikitlearn kütüphanesinde alternatifler varsa kullanabilirsin.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("HousingData.csv")

In [3]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [14]:
df.shape

(506, 14)

In [4]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [6]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX          int64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [11]:
df["CRIM"].mean()

3.6118739711934156

In [12]:
df["CRIM"].max()

88.9762

In [15]:
df["CRIM"] = df["CRIM"].fillna(df["CRIM"].mean())

In [17]:
df.isnull().sum()

CRIM        0
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

##### ZN

In [20]:
df["ZN"].mean()

11.2119341563786

In [21]:
df["ZN"] = df["ZN"].fillna(df["ZN"].mean())

In [22]:
df.isnull().sum()

CRIM        0
ZN          0
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

###### INDUS

In [23]:
df["INDUS"] = df["INDUS"].fillna(df["INDUS"].mean())

In [24]:
df.isnull().sum()

CRIM        0
ZN          0
INDUS       0
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

###### CHAS

In [28]:
df.tail(50)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
456,4.668830,0.000000,18.100000,0.0,0.713,5.976,87.9,2.5806,24,666,20.2,10.48,19.01,12.7
457,8.200580,0.000000,18.100000,0.0,0.713,5.936,80.3,2.7792,24,666,20.2,3.50,16.94,13.5
458,7.752230,11.211934,11.083992,0.0,0.713,6.301,83.7,2.7831,24,666,20.2,272.21,16.23,14.9
459,6.801170,0.000000,18.100000,0.0,0.713,6.081,84.4,2.7175,24,666,20.2,396.90,14.70,20.0
460,3.611874,0.000000,18.100000,0.0,0.713,6.701,90.0,2.5975,24,666,20.2,255.23,16.42,16.4
461,3.693110,0.000000,18.100000,0.0,0.713,6.376,88.4,2.5671,24,666,20.2,391.43,14.65,17.7
462,6.654920,0.000000,18.100000,0.0,0.713,6.317,83.0,2.7344,24,666,20.2,396.90,13.99,19.5
463,5.821150,0.000000,18.100000,0.0,0.713,6.513,89.9,2.8016,24,666,20.2,393.82,10.29,20.2
464,7.839320,0.000000,18.100000,0.0,0.655,6.209,65.4,2.9634,24,666,20.2,396.90,13.22,21.4
465,3.611874,0.000000,18.100000,NaN,0.655,5.759,48.2,3.0665,24,666,20.2,334.40,14.13,19.9
466,3.774980,0.000000,11.083992,0.0,0.655,5.952,84.7,2.8715,24,666,20.2,22.01,17.15,19.0
467,4.422280,0.000000,18.100000,0.0,0.584,6.003,94.5,2.5403,24,666,20.2,331.29,21.32,19.1
468,15.575700,0.000000,18.100000,0.0,0.580,5.926,71.0,2.9084,24,666,20.2,368.74,18.13,19.1
469,13.075100,0.000000,18.100000,0.0,0.580,5.713,56.7,2.8237,24,666,20.2,396.90,14.76,20.1
470,4.348790,0.000000,18.100000,0.0,0.580,6.167,84.0,3.0334,24,666,20.2,396.90,16.29,19.9
471,4.038410,0.000000,18.100000,0.0,0.532,6.229,90.7,3.0993,24,666,20.2,395.33,12.87,19.6
472,3.568680,0.000000,18.100000,0.0,0.580,6.437,75.0,2.8965,24,666,20.2,393.37,14.36,23.2
473,4.646890,0.000000,18.100000,0.0,0.614,6.980,67.6,2.5329,24,666,20.2,374.68,NaN,29.8
474,8.055790,0.000000,18.100000,0.0,0.584,5.427,95.4,2.4298,24,666,20.2,352.58,18.14,13.8
475,6.393120,0.000000,18.100000,0.0,0.584,6.162,97.4,2.2060,24,666,20.2,302.76,24.10,13.3
476,4.871410,0.000000,18.100000,0.0,0.614,6.484,93.6,2.3053,24,666,20.2,396.21,18.68,16.7
477,15.023400,0.000000,18.100000,0.0,0.614,5.304,97.3,2.1007,24,666,20.2,349.48,24.91,12.0
478,10.233000,0.000000,18.100000,0.0,0.614,6.185,96.7,2.1705,24,666,20.2,379.70,18.03,14.6
479,14.333700,0.000000,18.100000,NaN,0.614,6.229,88.0,1.9512,24,666,20.2,383.32,13.11,21.4
480,5.824010,0.000000,18.100000,0.0,0.532,6.242,64.7,3.4242,24,666,20.2,396.90,10.74,23.0
481,5.708180,0.000000,18.100000,0.0,0.532,6.750,74.9,3.3317,24,666,20.2,393.07,7.74,23.7
482,5.731160,0.000000,18.100000,NaN,0.532,7.061,77.0,3.4106,24,666,20.2,395.28,7.01,25.0
483,2.818380,0.000000,18.100000,0.0,0.532,5.762,40.3,4.0983,24,666,20.2,392.92,10.42,21.8
484,2.378570,0.000000,18.100000,0.0,0.583,5.871,41.9,3.7240,24,666,20.2,370.73,13.34,20.6
485,3.673670,0.000000,18.100000,0.0,0.583,6.312,51.9,3.9917,24,666,20.2,388.62,10.58,21.2
486,5.691750,0.000000,18.100000,0.0,0.583,6.114,79.8,3.5459,24,666,20.2,392.68,14.98,19.1
487,4.835670,0.000000,18.100000,0.0,0.583,5.905,53.2,3.1523,24,666,20.2,388.22,11.45,20.6
488,0.150860,0.000000,27.740000,0.0,0.609,5.454,92.7,1.8209,4,711,20.1,395.09,18.06,15.2
489,0.183370,0.000000,27.740000,0.0,0.609,5.414,98.3,1.7554,4,711,20.1,344.05,23.97,7.0
490,0.207460,0.000000,27.740000,0.0,0.609,5.093,98.0,1.8226,4,711,20.1,318.43,29.68,8.1
491,0.105740,0.000000,27.740000,0.0,0.609,5.983,98.8,1.8681,4,711,20.1,390.11,18.07,13.6
492,0.111320,0.000000,27.740000,0.0,0.609,5.983,83.5,2.1099,4,711,20.1,396.90,13.35,20.1
493,0.173310,0.000000,9.690000,0.0,0.585,5.707,54.0,2.3817,6,391,19.2,396.90,12.01,21.8
494,0.279570,0.000000,9.690000,0.0,0.585,5.926,42.6,2.3817,6,391,19.2,396.90,13.59,24.5
495,0.178990,0.000000,9.690000,0.0,0.585,5.670,28.8,2.7986,6,391,19.2,393.29,17.60,23.1
496,0.289600,0.000000,9.690000,0.0,0.585,5.390,72.9,2.7986,6,391,19.2,396.90,21.14,19.7
497,0.268380,0.000000,9.690000,0.0,0.585,5.794,70.6,2.8927,6,391,19.2,396.90,14.10,18.3
498,0.239120,0.000000,9.690000,0.0,0.585,6.019,65.3,2.4091,6,391,19.2,396.90,12.92,21.2
499,0.177830,0.000000,9.690000,0.0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10,17.5
500,0.224380,0.000000,9.690000,0.0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33,16.8
501,0.062630,0.000000,11.930000,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.045270,0.000000,11.930000,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.060760,0.000000,11.930000,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.109590,0.000000,11.930000,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.047410,0.000000,11.930000,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [29]:
df["CHAS"] = df["CHAS"].fillna(0)

In [30]:
df.isnull().sum()

CRIM        0
ZN          0
INDUS       0
CHAS        0
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [31]:
df["AGE"] = df["AGE"].fillna(df["AGE"].mean())

In [32]:
df.isnull().sum()

CRIM        0
ZN          0
INDUS       0
CHAS        0
NOX         0
RM          0
AGE         0
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [33]:
df["LSTAT"] = df["LSTAT"].fillna(df["LSTAT"].mean())

In [34]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [35]:
df.to_csv("housing_data_fillna.csv")